/* Logo and banner*/

body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.menu li {
    margin-left: 20px;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 16px;
    align-content: center;
}

.menu {
    display: flex;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

.banner {
    padding: 100px 200px 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    align-items: flex-start;
    flex: 1;
}

.img-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 250px;
    text-align: center;
    flex: 1;
    color: white;
    max-width: 100%;
}

.hero h1 {
    font-weight: 900;
    font-size: 48px;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 14px;
    width: 120px;
    height: 35px;
    font-weight: 900;
    font-size: 18px;
    margin-top: 10px;
    border: 1px
}


/* CONTENT */

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-bottom: 100px;
}

.content>div {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    color: #1f2937;
    text-align: center;
    padding: 10px;
}

.text h1 {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding: 36px
}

img {
    border: 6px solid #3882f6;
    border-radius: 14px;
}


/* QUOTE */

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding: 100px 300px 100px;
}

.author p {
    text-align: end;
    font-weight: 900;
    font-size: 24px;
    font-style: normal;
}


/* section */

.section {
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    justify-content: space-evenly;
    height: 150px;
    width: 1100px;
    align-items: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.call {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.call h1 {
    font-size: 22px;
}

.call p {
    font-size: 18px;
    font-weight: 500;
}

.section button {
    border: 2px solid white;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    align-content: center;
    justify-content: center;
}

.footer p {
    text-align: center;
    font-weight: 300;
    margin: 32px;
}